<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/jpg" href="assets/favicon.jpg">
    <title>Aniekan Edet</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet"  href="css/bootstrap.min.css">
    <link rel="stylesheet" href="fonts/css/all.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" media="screen and (min-device-width: 500px)" class="aos" href="css/aos.css" />
</head>


<body  data-spy='scroll' data-target='.navbar' data-offset='0' >
   
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
     <div class="sidebar-header">
       <h3 class="animated bounceInLeft delay-5s">
           <a class="navbar-brand" href="index.html"><span class="logo">Aniekan Edet</span></a>
        </h3>
            <a href="index.html"> <strong>AE</strong></a>
            </div>

            <ul class="list-unstyled components">
                   
              
                    <li class="nav-item">
                        <a class="nav-link Navv active" href="#section1">
                            <i class="fas fa-address-book"></i>
                           About
                        </a>
                    </li>
    
                    <li class="nav-item">
                            
                        <a class="nav-link " href="#section2">
                            <i class="fa fa-tools"></i>
                        
                           Services
                        </a>
                        
                    </li>
                    <li class="nav-item">
                        
                            <a class="nav-link" href="#section3">
                                <i class="fas fa-briefcase"></i>
                           Portfolio                          
                            </a>
                           
                        </li>
    
                    <li class="nav-item">
                        <a class="nav-link " href="#section4">
                            <i class="fa fa-users"></i>
                           Clients
                        </a>
                        
                    </li>
                   
                    <li class="nav-item">
                            <a class="nav-link " href="#section5">
                                <i class="fas fa-paper-plane"></i>
                                Contact
                            </a>
                        </li>
                    <li class="nav-item">
                        <a class="nav-link " href="Note.html">
                            <i class="fas fa-pencil-alt"></i>
                           Notes
                        </a>
                    </li>                  
           </ul>         
        </nav>
 <!-- Sidebar  -->
        <!-- Page Content  -->
        @!section('content')
        <!-- Page Content  -->

        <!-- PFooter -->
        <footer>
            <div class="container">
                <p class="lead text-center">
                    Copyright@ 2019 Aniekan Edet
                </p>
            </div>
        </footer>
        <!-- PFooter -->

    </div>

<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
    <script src="js/main.js"></script>/
    <script src="js/type.js"></script>
    <script src="js/scrollToTop.js"></script>
    <script src="js/jquery.js"> </script>
    <script src="js/bootstrap.min.js"> </script>
    <script src="js/vendor/smooth-scroll.polyfills.js"> </script>
    <script> var scroll = new SmoothScroll('a[href*="#"]');</script>
    <script src="js/vendor/aos.js"></script>
   
    <script> AOS.init({
        offset :200,
        duration : 1000,
    }); </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
</body>

</html>
